@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply cursor-custom
    
  }
  ::selection {
    background-color: #00d992;
    color: #060F11
  }
}


@layer utilities {
  .cursor-custom {
    cursor: url('/cursors/base.svg') 8 8, auto;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;   
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;            
  }
}

/* FONTS */

@font-face {
  font-family: geist;
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/geist.ttf") format("truetype")
}

@font-face {
  font-family: gtamerica;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/gtamerica.ttf") format("truetype")
}

@font-face {
  font-family: revxneue;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/revxneue.ttf") format("truetype")
}

html, body {
  @apply bg-liquirice;
}